body {
    margin: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 250%;
}

.container {
    width: 80%;
    text-align: center;
    margin: 2em auto;
}

.container {
    display: grid;
    grid-template-columns: 68% 32%;
}

.container div:nth-child(1) {
    grid-column-start: 2;
}

.container div:nth-child(2) {
    grid-column-start: 1;
}

button {
    border: 0;
    background-color: #72C3DC;
    padding: 1em 2em;
    width: 7em;
    box-shadow: 0px 4px 2px #2B8EAD;
    margin-bottom: 1em;
    border-radius: 5px;
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 0px;
    background-color: #fff;
    color: #444;
    height: auto;
}

.tile {
    color: #fff;
    padding: 20px;
    font-size: 250%;
    border: 1px solid #ccc;
}

.tile span {
    display: none;
}

.tile1,
.tile1 span {
    background-color: #000;
}

.tile2,
.tile2 span {
    background-color: #333333;
}

.tile3,
.tile3 span {
    background-color: #FFFFFF;
    color: #000;
}

.tile4,
.tile4 span {
    background-color: #EFEFEF;
    color: #000;
}

.tile5,
tile5 span {
    background-color: #72C3DC;
}

.tile6,
.tile6 span {
    background-color: #2B8EAD;
}

.tile7,
.tile7 span {
    background-color: #6F98A8;
}

.tile8,
.tile8 span {
    background-color: #BFBFBF;
}

.tile9,
.tile9 span {
    background-color: #2F454E;
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
    }

    .tile {
        font-size: 100%;
        padding: 0;
    }

    .tile span {
        display: grid;
    }

    label {
        display: grid;
        grid-template-columns: 10% 90%;
    }

    .wrapper {
        grid-template-columns: 100%;
    }

    .container div:nth-child(1),
    .container div:nth-child(2) {
        grid-column-start: unset;
    }

    .tile1,
    .tile2,
    .tile3,
    .tile4,
    .tile5,
    .tile6,
    .tile7,
    .tile8,
    .tile9 {
        background-color: #EFEFEF;
        color: #000;
    }

    span {
        border: 1px solid #ccc;

    }
}
