body {
    margin: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 250%;
}

.container {
    width: 80%;
    text-align: center;
    margin: 2em auto;
}

.container {
    display: grid;
    grid-template-columns: 68% 32%;
}

.container div:nth-child(1) {
    grid-column-start: 2;
}

.container div:nth-child(2) {
    grid-column-start: 1;
}

button {
    border: 0;
    background-color: #72C3DC;
    padding: 1em 2em;
    width: 7em;
    box-shadow: 0px 4px 2px #2B8EAD;
    margin-bottom: 1em;
    border-radius: 5px;
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 0px;
    background-color: #fff;
    color: #444;
    height: auto;
}

.tile {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
    border: 1px solid #ccc;
}

.tile1 {
    background-color: #000;
}

.tile2 {
    background-color: #333333;
}

.tile3 {
    background-color: #FFFFFF;
    color: #000;
}

.tile4 {
    background-color: #EFEFEF;
    color: #000;
}

.tile5 {
    background-color: #72C3DC;
}

.tile6 {
    background-color: #2B8EAD;
}

.tile7 {
    background-color: #6F98A8;
}

.tile8 {
    background-color: #BFBFBF;
}

.tile9 {
    background-color: #2F454E;
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
    }

    .wrapper {
        grid-template-columns: 100%;
    }

    .container div:nth-child(1),
    .container div:nth-child(2) {
        grid-column-start: unset;
    }
}
